body{
    background-color:#101416;
    color: #9fa8b4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: bold 16px 'Inter', sans-serif;
}

/*  START VARIEBLES  */
.bbg{
    /* border: 1px solid rgb(223, 223, 223); */
    border-radius: 7px;
    background-color: #3C424A;
}
.size{
    width: 100%;
    height: 100%;
}
.position{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span{
    line-height: 30px;
    display: inline-block;
    text-align: center;
}
.flexElement{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*  END VARIEBLES  */

.wrapper{
    width: 100vw;
    height: 100vh;
}

/* START CONTAINER STYLE CODE */
.left__container{
    width: 45vw;
    max-width: 1200px;
    height: 88vh;

    margin-right: 3vw;
    padding: 5px;

    background-color: #262C36;
    border-radius: 10px;    
}
.right__container {
    width: 45vw;
    max-width: 1200px;
    height: 88vh;

    flex-flow: column;
    justify-content: space-between;

}
/* END CONTAINER STYLE CODE */



/* START LEFT SIDE CODE */
.dataForm{
    width: 100%;
    height: 100%;
    /* background-color: #d3d6db; */
}
.ident__info{
    width: 95%;
    height: 95%;

    border: 5px solid #3C424A;
    border-radius: 10px;
    
    color: #4c545f;
}
.top__side{
    width: 100%;
    height: 60%;

    display: flex;
}
.information{
    width: 50%;
    height: 100%;

    flex-flow: column;
}
.bottom__side{
    width: 100%;
    height: 40%;
    /* background-color: #9fa8b4; */
}
.downloadFrom{
    width: 100%;
    height: 100%;

    display: flex;
}
.inputForm{
    width: 85%;
    height: 35px;

    border-radius: 5px;
    background-color: #3C424A;

    
    margin-bottom: 15px;
    padding: 3px 10px;
}
.information .inputForm{
    border: 2px solid #384150;
}
.btn{
    width: 8vw;
    height: 35px;

    margin-left: 5.5%;
    padding: 3px 10px;

    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: #3C424A;

}
/* END LEFT SIDE CODE */



/* START RIGHT SIDE CODE */
/*  START TOP PAGE  */
.top-page {
    width: 100%;
    height: 49%;

    background-color: #262C36;
    border-radius: 10px;

    padding: 3px;
}
.content-box {
    width: 90%;
    height: 100%;

    flex-flow: column;
}
.info-row {
    width: 100%;
    height: 15%;

    margin-bottom: 5px;

    justify-content: end;
}
.last_el {
    margin: 30px 0 10px 0;
    height: 35%;
    justify-content: space-between;

    position: relative;
}

/* start date-box and key-box block */
.date__box, .key__box{
    height: 100%;
    width: 70%;

    justify-content: end;
}
.key__box{
    width: 35%;
}
.date__area,
.key__area{
    height: 30px;
    width: 55%;
    margin-right: 15px;
}
.key__area_value{
    display: inline-block;
    text-align: center;
    line-height: 30px;
}
/* end date-box and key-box block */

/* start personal and stamp block */
.personal__box{
    height: 100%;
    width: 33.3%;

    position: relative;

    display: flex;
    flex-flow: column;
    align-items: center;
}
.personal__title{
    width: 70%;
    max-width: 90px;

    height: 38%;
    text-align: center;
    margin-bottom: 5px;
}
.personal__area{
    width: 85%;
    height: 90%;

}
.personal__area_value{
    display: inline-block;
}
.stamp__title{
    z-index: 2;
}
.stamp__area{
    width: 19vh;
    height: 18vh;
    background-color: #3C424A;
    border-radius: 50%;
}
.stamp__area_value{
    display: inline-block;
}
/* end personal and stamp block */

/* start serial block */
.right{
    width: 10%;
    height: 98%;
    margin-right: 0;
}

.content__vertical_row{
    width: 80%;
    height: 94%;

    position: relative;
}
.serial__title{
    writing-mode: vertical-lr;
    text-align: center;
    line-height: 55px;

    z-index: 3;
}
.serial__area{
    writing-mode: vertical-lr;
    text-align: center;
}
.serial__value{
    line-height: 55px;

    display: inline-block;
    z-index: 3;
}
/* end serial block */
/*  END TOP PAGE  */


/*  START BOTTOM PAGE  */
.bottom-page {
    width: 100%;
    height: 49%;

    background-color: #262C36;
    border-radius: 10px;

    flex-flow: column;
    justify-content: end;

    padding: 3px;
}

/* start  content  block  */
.content__row{
    width: 98%;
    height: 76%;
    margin: 1% 0;

    justify-content: end;
    align-items: end;
}

/*  start  image  block  */
.image__box{
    width: 30%;
    height: 100%;

    position: relative;
}
.image__title{
    z-index: 3;
}
.image__squire{
    width: 96%;
    height: 85%;

    display: inline-block;
    background-color: #2e343b;

    border-radius: 50%;
}
/*  end  image  block  */

/*  -- START  DATA  BLOCK --  */
.data__box{
    width: 60%;
    height: 97%;
    margin: 0 1%;
}

/*   - start  ФИО  block -   */
.nameplate__row{
    width: 100%;
    height: 49%;
    margin-bottom: 1%;
    /* padding: 10px; */

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.title{
    margin: 0 10px;
}
.country__area,
.organization__area{
    height: 30px;
    width: 70%;
    margin-right: 15px;
}
/*   end  ФИО  block -   */

/* - start detail block - */
.details__row{
    width: 100%;
    height: 20%;
    padding-left: 6%;

    display: flex;
    justify-content: space-between;
}

.sex__row{
    width: 20%;
    height: 100%;

    display: flex;
    align-items: center;
}
.sex__title{
    width: 50%;
}
.sex__area{
    width: 50%;
    height: 80%;
}

.borndate__row{
    width: 78%;
    height: 100%;

    display: flex;
    align-items: center;
}
.borndate__title{
    width: 45%;

}
.borndate__area{
    width: 50%;
    height: 80%;
}
/* end detail block */

/* start bornplace block */
.bornplace__row{
    width: 100%;
    height: 30%;

    display: flex;
    align-items: center;
}
.bornplace__title{
    width: 30%;
    text-align: center;
}
.bornplace__area{
    width: 77%;
    height: 60px;
    margin-right: 3.5%;

    display: flex;
    align-items: center;
}
.bornplace__area_value{
    font-size: 85%;
    text-align: center;
}
/* end bornplace block */
/*  END  DATA  BLOCK  */

/*  --  START  SERIAL  BLOCK  --  */
.serial__box{
    width: 8%;
    height: 100%;
}
.serial__vertical_row {
    position: relative;
}
/*  END  SERIAL  BLOCK  */

.code__row{
    width: 98%;
    height: 15%;

    margin: 0 0 1% 0;
}
/*  END BOTTOM PAGE  */
/* END RIGHT SIDE CODE */